/* 
* Example style!
* You can do whatever the hell you want on your site :-)
*/

/*
.newsBox {
background: -moz-linear-gradient(top, rgba(240,240,240,1) 0%, rgba(255,255,255,0) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(240,240,240,1)), color-stop(100%,rgba(255,255,255,0)));
background: -webkit-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,0) 100%);
background: -o-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,0) 100%);
background: -ms-linear-gradient(top, rgba(240,240,240,1) 0%,rgba(255,255,255,0) 100%);
background: linear-gradient(to bottom, rgba(240,240,240,1) 0%,rgba(255,255,255,0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#00ffffff',GradientType=0 );
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF');
}
*/

#twitter h2 {
  clear:both;
}

#twitter p, #twitter a {
  font-size:9pt;
  margin:10px 0 0 0;
  color:#3d3d3d;
}

#twitter a, #twitter a:visited {
  color:#427fed;
}

#twitter a:hover {
  color:#82afff;
}

#twitter ul li {
  list-style:none;
  overflow:hidden;
  border:1px solid #dedede;
  margin:5px;
  padding:5px;
}

#twitter ul li:hover {
  background-color:#f0f3fb;
}

#twitter .user, #twitter .tweet, #twitter .timePosted {
  float:left;
}

#twitter .user {
  width:12%;
}

#twitter .tweet {
  width:55%;
  font-size: 11pt;
  font-weight: bold;
}

#twitter .timePosted {
  width:7%;
  float: right;
}

#twitter .user {
  clear:left;
}

#twitter .user a {
 width: 100px;
}

#twitter .user span span {
  width:100px;
  display:block;
  margin-top:10px;
}

#twitter .user img, #twitter .user a > span {
  float:left;
}

#twitter .interact {
  float:right;
  width:15%;
  margin-top:15px;
  margin-right: 50px;
}

#twitter .interact a {
  margin-left:5px;
  float:left;
}

#twitter .user a > span {
  margin-left:10px;
}