body {
	/* margin-top: 0px; */ 
	margin-bottom: 0px; 
	margin-left: 0px; 
	margin-right: 0px;
	background-color: #232c3a;
	background-image:-moz-linear-gradient(top, #232C3A 0%, #000000 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #08171F), color-stop(1, #000000));
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	color: white;
	}
	
h3 {margin-left: 2%;}

a {color: rgba(0, 214, 255, 0.8);}
a:hover {color: rgb(255, 157, 0);}

img {
	border: 0px;
	padding: 0px;
	margin: 0px;
	vertical-align: bottom;
	}

#wrapper {
	background-color: black;
	width:1400px;
	margin: 0 auto;	
}

#content_Main {
	margin-left: 3%;
	margin-right: 3%;
}

#page-top {
	position:relative;
	width:1400px;
	float:left;
}

#Content {
	background-image:url('../images/Content.png'); 
	position:relative;
	width:522px;
	height: 900px;
	float: left;
}

#home-06 {
	position:relative;
	width:26px;
	height: 900px;
	float: left;
	background-color: rgb(8, 23, 31);
}

#ContentText {
	position: relative;
	width: 510px;
	color: white;
	float:left;
	height: 900px;
}

#ContentText p, #ContentText form{
	padding: 5px 20px 5px 20px;
}

#ContentText h1, #ContentText h2 {
background-color: black;
width: 497px;
height: 50px;
margin-top: 0px;
padding-left: 25px;
padding-top: 15px;
}



/*Left Side Strip */
#aboutBottom-Left {
	/* background-image:url('../images/page_Bottom_Left.png'); */	
	background-color: rgb(8, 23, 31);
	position:relative;
	width:26px;
	float: left;
	height: 900px;
}



/*ABOUT - Master Container */
#aboutContent { 
	position:relative;
	width: 1200px;
	height: 900px;
	float: left;
	background-color: rgb(13, 32, 44);
}

#aboutContentText {
	position: relative;
	color: white;
	float:left;
	width: 100%;
}

		#aboutContentText h1, #aboutContentText h2 {
		background-color: black;
		height: 50px;
		margin-top: 0px;
		padding-left: 25px;
		padding-top: 15px;
		clear: both;
}

		#aboutContentText p {
		margin: 25px;
		}

#aboutContentLeft {

position: relative;
width: 470px;
float: left;
margin-left: -25px;
margin-top: -14px;
}



#aboutContentRight {
width: 500px;
float: right;
margin-right: 10px;
}


#advantagesList {
position: relative;
width: 460px;
float: left;
list-style: none;
}


#advantagesList li{

padding: 19px;
border: 2px solid black;
background-color: #222222;
color: #dddddd;
/*
background-image:-moz-linear-gradient(top, #065127 0%, #696a01 100%);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #065127), color-stop(1, #696a01));
background-image: -ms-linear-gradient(top, #065127 0%, #696a01 100%);
background-image: -o-linear-gradient(top, #065127 0%, #696a01 100%);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#065127', EndColorStr='#696a01')"; /* IE8 */

}



#aboutContentLeft * .iehighlight {

/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#0b9246', EndColorStr='#f9fb02')"; */
}


#aboutContentLeft * .ieunhighlight {

/*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#065127', EndColorStr='#696a01')";  */
}



#aboutContentLeft * .shadow {
	margin: 5px auto;
	background: #ffffa2;
	
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000');
	/* For IE 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#000000')";
	
	/* Firefox */
	-moz-box-shadow: 3px 3px 10px #000;
	/* WebKit */
	-webkit-box-shadow: 3px 3px 10px #000;
	/* Standard */
	box-shadow: 3px 3px 10px #000;
	
}



#newSlideshow {
	position:relative;
	width:460px; height:250px; 
	overflow:hidden;
	/* float: right; */
	border: 5px solid black;
	background-image: url(../jquery/slideshow/intro.jpg);
	/* z-index:99998; */
	border: 5px solid rgb(8, 23, 31);
}






#LeftContent {
	position: relative;
	width: 450px;
	color: white;
	float:left;
	text-shadow: 2px 2px 2px #000;
	margin-top: -100px;
	width: 100%;
	height: 900px;
}

#LeftContent h1 {
	text-align: center;
	height: 900px;
	
}

#footer {
	position: relative;
	/* float: left; */
	/* width: 1200px; */
	color: white;
	/* height: 100px; */
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(1, #08171F),
	color-stop(1, #000000),
	color-stop(1, #1B1B1B)
);
background-image: -o-linear-gradient(bottom, #08171F 100%, #000000 100%, #1B1B1B 100%);
background-image: -moz-linear-gradient(bottom, #08171F 100%, #000000 100%, #1B1B1B 100%);
background-image: -webkit-linear-gradient(bottom, #08171F 100%, #000000 100%, #1B1B1B 100%);
background-image: -ms-linear-gradient(bottom, #08171F 100%, #000000 100%, #1B1B1B 100%);
background-image: linear-gradient(to bottom, #08171F 100%, #000000 100%, #1B1B1B 100%);
	
}

#footer p {
	float: left;
	padding: 10px;
}

#footer img {
	float: left;
	padding: 10px;
}
